name: Build, lint and test

on:
    pull_request:
        branches:
            - main
    push:
        branches:
            - main

jobs:
    build-test:
        name: build-test
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v6.0.0
        - uses: actions/setup-go@v6.1.0
          with:
            go-version: '1.21'
        - name: build
          run: go build -v ./...
        - name: test
          run: go test -v ./...
        - name: test (race)
          run: go test -race -v ./...
    golangci:
        name: lint
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v6.0.0
        - uses: actions/setup-go@v6.1.0
          with:
            go-version: '1.21'
        - name: golangci-lint
          uses: golangci/golangci-lint-action@v9.1.0
          with:
            version: v1.54
